In [25]:
import pandas as pd

In [26]:
post = pd.read_csv('logbookFinal.csv')

post

,Blend Code,Sequence,Task Duration (Minutes),Task Duration (Hours),Quantity,Line To Go To
0,B0004,1,1503.927911,25.065465,6509,Line 1
1,B0010,2,860.905730,14.348429,3726,Line 1
2,B0006,5,1996.303142,33.271719,8640,Line 1
3,B0004,1,5456.908115,90.948469,6509,Line 2
4,B0004,2,11468.812877,191.146881,13680,Line 2
5,B0008,7,7243.460765,120.724346,8640,Line 2
6,B0003,1,14373.742455,239.562374,17145,Line 3
7,B0004,2,20925.553320,348.759222,24960,Line 3
8,B0008,7,7243.460765,120.724346,8640,Line 3
9,B0002,1,1301.204819,21.686747,19440,Line 4
10,B0001,2,530.120482,8.835341,7920,Line 4
11,B0007,7,722.891566,12.048193,10800,Line 4
12,B0002,1,1488.970588,24.816176,19440,Line 5
13,B0010,2,285.386029,4.756434,3726,Line 5
14,B0008,7,661.764706,11.029412,8640,Line 5
15,B0001,1,5794.427711,96.573795,30780,Line 6
16,B0010,2,701.430723,11.690512,3726,Line 6
17,B0008,8,609.939759,10.165663,3240,Line 6
18,B0004,1,3307.418699,55.123645,6509,Line 7
19,B0004,2,12682.926829,211.382114,24960,Line 7
20,B0007,9,6585.365854,109.756098,12960,Line 7
21,B0003,1,3348.632812,55.810547,17145,Line 8
22,B0001,2,1546.875000,25.781250,7920,Line 8
23,B0002,1,15000.000000,250.000000,19440,Line 9
24,B0004,2,10555.555556,175.925926,13680,Line 9
25,B0001,2,6013.503086,100.225051,15587,Line 10
26,B0005,3,11111.111111,185.185185,28800,Line 10
27,B0010,2,860.905730,14.348429,3726,Line 11
28,B0005,3,6654.343808,110.905730,28800,Line 11

In [27]:
blenderStock = pd.read_csv('blendstock.csv')

blenderStock

   Blend Code Blend Description  Quantity (kg)            Location
0       B0001       Black Tea 1           6000              Silo C
1       B0001       Black Tea 1           3000              Silo D
2       B0001       Black Tea 1            800           Warehouse
3       B0002       Black Tea 2           3000              Silo E
4       B0003       Black Tea 3           4500              Silo F
5       B0004       Loose Tea 1           5000              Silo A
6       B0004       Loose Tea 1           4000              Silo B
7       B0005       Loose Tea 2              0           Warehouse
8       B0006       Loose Tea 3              0           Warehouse
9       B0007       Loose Tea 4              0           Warehouse
10      B0008       Loose Tea 5              0           Warehouse
11      B0009       Black Tea 4            500           Warehouse
12      B0010       Black Tea 5            400  Transfer Station A
13      B0011       Black Tea 6           2500           Warehouse
14      B0012       Black Tea 7            600  Transfer Station D

In [29]:
import numpy as np

locations = blenderStock['Location'].values
random_locations = np.random.choice(locations, size=len(post), replace=True)

post['Destination'] = random_locations

In [30]:
post

,Blend Code,Sequence,Task Duration (Minutes),Task Duration (Hours),Quantity,Line To Go To,Destination
0,B0004,1,1503.927911,25.065465,6509,Line 1,Transfer Station A
1,B0010,2,860.905730,14.348429,3726,Line 1,Silo B
2,B0006,5,1996.303142,33.271719,8640,Line 1,Warehouse
3,B0004,1,5456.908115,90.948469,6509,Line 2,Silo C
4,B0004,2,11468.812877,191.146881,13680,Line 2,Silo A
5,B0008,7,7243.460765,120.724346,8640,Line 2,Warehouse
6,B0003,1,14373.742455,239.562374,17145,Line 3,Silo A
7,B0004,2,20925.553320,348.759222,24960,Line 3,Warehouse
8,B0008,7,7243.460765,120.724346,8640,Line 3,Silo A
9,B0002,1,1301.204819,21.686747,19440,Line 4,Warehouse
10,B0001,2,530.120482,8.835341,7920,Line 4,Transfer Station A
11,B0007,7,722.891566,12.048193,10800,Line 4,Silo F
12,B0002,1,1488.970588,24.816176,19440,Line 5,Silo B
13,B0010,2,285.386029,4.756434,3726,Line 5,Silo A
14,B0008,7,661.764706,11.029412,8640,Line 5,Warehouse
15,B0001,1,5794.427711,96.573795,30780,Line 6,Silo A
16,B0010,2,701.430723,11.690512,3726,Line 6,Warehouse
17,B0008,8,609.939759,10.165663,3240,Line 6,Warehouse
18,B0004,1,3307.418699,55.123645,6509,Line 7,Warehouse
19,B0004,2,12682.926829,211.382114,24960,Line 7,Silo C
20,B0007,9,6585.365854,109.756098,12960,Line 7,Warehouse
21,B0003,1,3348.632812,55.810547,17145,Line 8,Warehouse
22,B0001,2,1546.875000,25.781250,7920,Line 8,Transfer Station D
23,B0002,1,15000.000000,250.000000,19440,Line 9,Warehouse
24,B0004,2,10555.555556,175.925926,13680,Line 9,Transfer Station D
25,B0001,2,6013.503086,100.225051,15587,Line 10,Silo B
26,B0005,3,11111.111111,185.185185,28800,Line 10,Warehouse
27,B0010,2,860.905730,14.348429,3726,Line 11,Silo D
28,B0005,3,6654.343808,110.905730,28800,Line 11,Silo A